@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

:root {
    --green: hsl(162, 45%, 56%);
    --lead: hsl(162, 2%, 56%);
    --blue: hsl(220, 85%, 57%);
    --violet: hsl(272, 92%, 32%);
    --tex-white: hsl(0, 0%, 188%);
    --text-light-gray: hsl(0, 0%, 90%);
    --border-color: hsla(0, 0%, 100%, 0.25);
    --blur: blur(25px);
    --button-hover-color: hsla(0, 0%, 0%, 0.3); 
    --amarilloFondo : #C68B05;
    
}

body.inicio {
    height: 100vh;
    /* background-color: #000; */
    background-image: url('./img/3.jpg');
    background-size: cover;
    /* background-size: contain; */
    background-position: center;
    background-repeat: no-repeat;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: #08b4f3;
}

/* HEADER */

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: var(--tex-white);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: var(--amarilloFondo);
    color: var(--tex-white);
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: var(--tex-white);
}

.action_btn:active {
    scale: 0.95;
}

/* DROP MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgb(255, 2555, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;

}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO */

section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fcfafa;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* RESPONSIVE DESING */

@media(max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* estilos para la pagina de login clientes  */

.loginCliente {
    display: flex;
    height: 100vh;
    /* background-color: #000; */
    background-image: url('./img/3.jpg');
    /* backdrop-filter: blur(5px); */
    background-size: cover;
    font-family: 'Sora', sans-serif;
    /* background-size: contain; */
    background-position: center;
    background-repeat: no-repeat;
}

.containerLogin {
    display: flex;
    height: 600px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 30px;
}

.info {
    background-color: var(--amarilloFondo);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 100px;
    width: 50%;
}

.txt-1 {
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 25px;
}

.info h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 25px;
}

.info hr {
    width: 55px;
    border: 4px solid #fff;
    margin-left: 170px;
    margin-bottom: 25px;
}

.txt-2 {
    color: #fff;
    font-size: 18px;
}

.form {
    padding: 100px 100px;
    width: 50%;
    text-align: center;
    backdrop-filter: blur(50px);
}

.form h2 {
    color: var(--amarilloFondo);
    font-size: 40px;
    margin-bottom: 25px;
}

.form p {
    font-size: 16px;
    color: #9c8b8b;
    margin-bottom: 25px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.box {
    outline: none;
    border-color: var(--amarilloFondo);
    border-width: 0px 0px 0px 10px;
    border-style: solid;
    padding: 15px 35px;
    margin-bottom: 30px;
    background-color: var(--lead);
}

.inputs a {
    color: var(--tex-white);
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    margin-bottom: 30px;
}

.inputs a:hover{
    color: var(--green);
}

.btnInicioCliente {
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background:  var(--amarilloFondo);
    border: none;
    position: relative;
    overflow: hidden;
}

.btnInicioCliente a{
    color: var(--tex-white);
}

@media(max-width: 990px) {
    .containerLogin {
        width: 350px;
        height: 500px;
        margin-top: 100px;
    }

    .info {
        display: none;
    }

    .form {
        width: 100%;
        padding: 30px;
    }

    .form h2 {
        margin-top: 40px;
    }
}

/* pagina para el registro del cliente */

.registroCliente {
    height: 100vh;
    /* background-color: #000; */
    background-image: url('./img/imagenFondo.jpg');
    background-size: cover;
    /* background-size: contain; */
    background-position: center;
    background-repeat: no-repeat;
}


.form-main{
    min-height: 100vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-conte{
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}


.form-conte .input-box{
    border-color: var(--glass-bg-color);
    border: 1px solid var(--border-color);
    padding: 40px 50px;
    border-radius: 20px;
    backdrop-filter: var(--blur);
}

.form-conte h3{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: var(--tex-white);
    font-weight: 500;
}

.form-conte form{
    margin: 25px 0 20px;
}

.form-conte .input-box-registroCl{
    margin: 25px;
}

.form-conte .txtRegis{
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color);
    font-size: 16px;
}

.form-conte .txtRegis:focus{
    outline: none;
}

.input-box .cuenta{
    margin-top: 10px;
    text-align: right;
}

.form-conte .btnRegCli{
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(to right,var(--green), var(--lead));
    border: none;
    color: var(--tex-white);
    position: relative;
    overflow: hidden;
}

.form-conte .btnRegCli:hover{
    color: var(--green);
    background: var(--button-hover-color);
}

.cuenta{
    text-decoration: underline;
    color: var(--violet);
}

::placeholder{
    color: var(--tex-white);
}

p{
    color: var(--tex-white);
}


@media(max-width: 768px) {
    .form-main {
      padding: 40px 15px;
    }
  
    .form-conte {
      max-width: 100%;
    }
  
    .form-conte .input-box {
      padding: 30px;
      border-radius: 10px;
    }
  
    .form-conte h3 {
      font-size: 24px;
    }
  
    .form-conte .txtRegis {
      height: 35px;
      font-size: 14px;
    }
  
    .form-conte .btnRegCli {
      height: 35px;
      font-size: 14px;
      border-radius: 20px;
    }
  }
  
/* estilos para la pagina de login propietario  */

.loginPropietario {
    display: flex;
    height: 100vh;
    /* background-color: #000; */
    background-image: url('./img/4.jpg');
    /* backdrop-filter: blur(5px); */
    background-size: cover;
    font-family: 'Sora', sans-serif;
    /* background-size: contain; */
    background-position: center;
    background-repeat: no-repeat;
}

.containerLoginPropietario {
    display: flex;
    height: 600px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 30px;
}

.info-propietario {
    background-color: var(--blue);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 100px;
    width: 50%;
}

.txt-1 {
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 25px;
}

.info-propietario h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 25px;
}

.info-propietario hr {
    width: 55px;
    border: 4px solid #fff;
    margin-left: 170px;
    margin-bottom: 25px;
}

.txt-2 {
    color: #fff;
    font-size: 18px;
}

.form-propietario {
    padding: 100px 100px;
    width: 50%;
    text-align: center;
    backdrop-filter: blur(50px);
}

.form-propietario h2 {
    color: var(--blue);
    font-size: 40px;
    margin-bottom: 25px;
}

.form-propietario p {
    font-size: 16px;
    color: #9c8b8b;
    margin-bottom: 25px;
}

.inputs-propietario {
    display: flex;
    flex-direction: column;
}

.box-propietario {
    outline: none;
    border-color: var(--blue);
    border-width: 0px 0px 0px 10px;
    border-style: solid;
    padding: 15px 35px;
    margin-bottom: 30px;
    background-color: var(--lead);
}

.inputs-propietario a {
    color: var(--tex-white);
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    margin-bottom: 30px;
}

.inputs-propietario a:hover{
    color: var(--green);
}

.btnInicioPropietario {
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background:  var(--blue);
    border: none;
    position: relative;
    overflow: hidden;
}

.btnInicioPropietario a{
    color: var(--tex-white);
}

@media(max-width: 768px) {
    .containerLoginPropietario {
        width: 350px;
        height: 500px;
        margin-top: 100px;
    }

    .info-propietario {
        display: none;
    }

    .form-propietario {
        width: 100%;
        padding: 30px;
    }

    .form-propietario h2 {
        margin-top: 40px;
    }
}

/* pagina para el registro del propietario */

.registroPropietario {
    height: 100vh;
    /* background-color: #000; */
    background-image: url('./img/loginCliente.jpg');
    background-size: cover;
    /* background-size: contain; */
    background-position: center;
    background-repeat: no-repeat;
}


.form-mainPropie{
    min-height: 100vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-contePropie{
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}


.form-contePropie .boxPropi{
    border-color: var(--glass-bg-color);
    border: 1px solid var(--border-color);
    padding: 40px 50px;
    border-radius: 20px;
    backdrop-filter: blur(100px);
}

.form-contePropie h3{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: black;
    font-weight: 500;
}

.form-contePropie form{
    margin: 25px 0 20px;
}

.form-contePropie .boxPropi{
    margin: 25px;
}

.form-contePropie .txtRegis{
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color);
    font-size: 16px;
}

.form-contePropie .txtRegis:focus{
    outline: none;
}

.input-boxRegisPropi .cuenta{
    margin-top: 10px;
    text-align: right;
}

.boxPropi p{
    color: black;
}


.form-contePropie .btnRegCli{
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(to right,var(--green), var(--lead));
    border: none;
    color: var(--tex-white);
    position: relative;
    overflow: hidden;
}

.form-contePropie .btnRegCli:hover{
    color: var(--green);
    background: var(--button-hover-color);
}

.input-box-registroPropie ::placeholder{
    color: black;
}